.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "app-bar"
    "content";
}

.App.drawer-is-open {
  grid-template-rows: auto 1fr;
  grid-template-columns: 256px 1fr;
  grid-template-areas: 
    "drawer app-bar"
    "drawer content";
}

.drawer {
  grid-area: drawer;
}

.content {
  grid-area: content;
}

.app-bar {
  grid-area: app-bar;
}
